body {
  background: #ccc;
}

.megamenu {
  background: #007bff;
  z-index: 15;
}
.megamenu .megamenu-nav {
  padding: 0;
  margin: 0;
}
.megamenu .megamenu-nav .nav-item {
  display: block;
}
.megamenu .megamenu-nav .nav-link {
  color: #fff;
  padding: 15px 30px;
}
.megamenu .megamenu-nav .nav-link:hover {
  background: #fff;
  color: #333;
}
