html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}


/* zeynepjs menu styles */
html.zeynep-opened {
	overflow-x: hidden;
}

html.zeynep-opened body {
	/*position: fixed;*/
	width: 100%;
}

html.zeynep-opened .zeynep {
	pointer-events: auto;
}

.zeynep {
	background-color: #ffffff;
	bottom: 0;
	color: #404143;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	pointer-events: none;
	position: fixed;
	top: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	z-index: 1011;
	width: 0;
	-webkit-overflow-scrolling: touch;
}
html:not(.no-transition) body,
.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
	-webkit-transition: all 375ms;
	-o-transition: all 375ms;
	transition: all 375ms;
	-webkit-transition-property: left, right, -webkit-transform;
	transition-property: left, right, -webkit-transform;
	-o-transition-property: left, right, transform;
	transition-property: left, right, transform;
	transition-property: left, right, transform, -webkit-transform;
}

.zeynep-overlay {
	background-color: rgba(0, 0, 0, .42);;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1010;
}

.zeynep-opened .zeynep-overlay {
	display: block;
}

.zeynep ul {
  list-style-type: none;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.zeynep ul > li {
	display: block;
}

.zeynep ul > li > a {
	color: inherit;
	display: block;
	font-size: 16px;
	font-weight: normal;
	padding: 18px 20px;
	text-decoration: none;
	-webkit-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms;
}
.zeynep ul > li > a i {
	padding-right: 5px;
	font-size: 19px;
}
.zeynep ul > li > a:hover {
	background-color: #efefef;
	border-radius: 3px;
}

.zeynep ul > li:not(:last-child) > a {
	border-bottom: 1px solid #efefef;
}

.zeynep ul > li.has-submenu > a {
	background-image: url("../img/submenu-arrow.svg");
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: 8px 14px;
}

.zeynep ul > li.has-submenu > a:hover {
	background-image: url("../img/submenu-arrow-active.svg");
}

/* zeynepjs submenu styles */
.zeynep .submenu {
	background-color: #ffffff;
	bottom: 0;
	left: 100%;
	min-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
}

.zeynep .submenu.opened {
	left: 0;
}

.zeynep .submenu-header {
	background-image: url("../img/menu-back.svg");
	background-position: left 20px center;
	background-repeat: no-repeat;
	background-size: 8px 14px;
	border-bottom: solid 1px #efefef;
	cursor: pointer;
	position: relative;
}

.zeynep .submenu-header > a {
	color: inherit;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 18px 20px;
	padding-left: 40px;
	text-decoration: none;
}

.zeynep .submenu-header > a:before {
	background-image: url("../img/submenu-arrow.svg");
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: 8px 14px;
	content: "";
	height: 100%;
	left: 26px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	width: 20px;
}

}