@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  font-size: 16px;
  color: #404040;
  font-family: Montserrat, sans-serif;
  background:#F5F5F5;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}
.form-control:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.left__menu {
  position: relative;
}
.left__menu__block {
  background: blue;
  width: 100%;
  position: absolute;
  height: 100%;
}
.main__top__profile {
  padding:20px;
}
.top__profile__href {
  background: #F2F2F2;
  padding:5px 10px;
  border-radius: 4px;
}
  .top__profile__href a {
    color:#222;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  .top__profile__href a:hover {
    color:#346AF2;
  }
.change__name__block {
  padding:10px;
}
.change__name__block > label {
  color: #6c757d;
  background: #E9ECEF;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.change__name__block textarea {
  resize: none;
}
.color__div {
  margin-bottom: 15px;
}
.color__div input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 5px;
  width: 36px;
  height: 36px;
  background: #eeeeee;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  color: #363945;
}
.color__div input[type="radio"]:hover, input[type="radio"]:checked {
   -webkit-box-shadow: inset 0 0 0 .2em white, 0 0 0 .2em #c2cdd3;
   box-shadow: inset 0 0 0 .2em white, 0 0 0 .2em #c2cdd3;
 
}
.color__div input[type="radio"]:checked {
   -webkit-box-shadow: inset 0 0 0 .2em white, 0 0 0 .2em #c2cdd3;
   box-shadow: inset 0 0 0 .2em white, 0 0 0 .2em #c2cdd3;
  
}
.color__div input[type="radio"]:focus {
  outline: 0;
}
.avatar {

}
  .avatar img {
    width: 100px;
    height: 100px;
  }
.avatar .change__avatar  {
    cursor: pointer;
  }

.first__links {

}
  .first__links img {
    width: 35px;
    border-radius: 50%;
  }
.first__link_item {
  width: 100%;
  padding: 0 15px;
}
.first__link_item .input-group-text{
  padding: 0 5px;
}
input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label__attachment {
  width: 150px;
  height: 150px;
  border: 2px dashed grey;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
}
.label__attachment i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px;
}
.label__attachment i,
.label__attachment .title {
  color: grey;
  -webkit-transition: 200ms color;
  -o-transition: 200ms color;
  transition: 200ms color;
}
.label__attachment:hover {
  border: 2px solid black;
}
.label__attachment:hover i,
.label__attachment:hover .title {
  color: black;
}

.table__products {
  
}
.table__products .img-fluid {
  max-width: 100px;
}
.cats__slider__links {
  position: relative;
  padding: 0px 60px;
}
.cats__slider__links .badge {
  font-size: 14px;
}
.cats__slider__links .slick-slider {
  min-width: 0;
}

.cats__slider__links .slick-list {
  overflow: hidden;
}

.cats__slider__links .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .cats__slider__links {
    padding: 0px 40px;
  }
}

.cats__slider__links .slick-arrow {
  position: absolute;
  top: -20px;
  margin: 0 5px;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
}
.cats__slider__links .slick-arrow.slick-prev {
  left: 0;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-left.png") 0
    0 / 100% no-repeat;
}
.cats__slider__links .slick-arrow.slick-next {
  right: 0;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png") 0
    0 / 100% no-repeat;
}
.cats__slider__links .slick-arrow.slick-disabled {
  opacity: 0.2;
  cursor: default;
}

.cats__slider__links  {
  padding: 0px 15px;
}
.cats__slider__linksimg {
  max-width: 100%;
}



.card__phone {
  overflow: hidden;
}
.card {
  background-color: #fff;
  max-width: 375px;
  height: 700px;
  overflow: auto;
  margin:50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
  box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
}
/* хром, сафари */
.card::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.card { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.card { overflow: -moz-scrollbars-none; }
.card .card__bg {
  /*background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
  */background: #1851A7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:60px;
}
.card .card__bg img {
  width: 100px;
  height: 100px;
  display: table;
  margin:0 auto;
  border-radius: 50%;
  position: relative;
  top:50px;
}
.card h2.name {
  text-align: center;
  padding: 0;
  margin:60px 0 0 0;
  text-transform: capitalize;
}
.card .actions {
  padding: 0 2rem 0; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 100;
  -ms-flex-order: 99;
}
.card .actions .follow-btn a ,p.whatsapp__send a{
  color: #fff;
  font-weight: bold;
  background-image: -o-linear-gradient(top,#60fd7c,#07b825);
  background-image: -webkit-gradient(linear,left top, left bottom,from(#60fd7c),to(#07b825));
  background-image: linear-gradient(180deg,#60fd7c,#07b825);
  width: 100%;
  border: none;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  -webkit-transition: background-color 100ms ease-in-out, -webkit-transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: background-color 100ms ease-in-out, -webkit-transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  text-shadow: 0 0 10px #aaa;
}
.card .actions .follow-btn a:hover ,p.whatsapp__send a:hover{
  /*background-color: #efb10a;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;*/
  background-image: -o-linear-gradient(top,#37B54E,#3BC454);
  background-image: -webkit-gradient(linear,left top, left bottom,from(#37B54E),to(#3BC454));
  background-image: linear-gradient(180deg,#37B54E,#3BC454);
}
.card .actions .follow-btn button:active , p.whatsapp__send a:active{
  background-color: #e8a200;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.card .actions .follow-btn a i {
  font-size: 20px;
}
.card .desc {
  text-align: center;
  padding:5px 0;
  -webkit-box-ordinal-group: 101;
  -ms-flex-order: 100;
}
.card .other__links {
  display: table;
  margin:0 auto;
}
.card .social__links {
  margin: 15px 0;
  padding:0;
}
.card .social__links a{
  margin: 0 10px;
  padding:0;
}
.card .social__links img{
  max-width: 30px;
}
.line__bottom {
  height: 1px;
  background: #ddd;
  width: 85%;
  margin: 0 auto 20px;
  display: none;
}

.phone_layer{
  background:#eaeaea;
  margin:0 auto;
  padding:10px;
  cursor:pointer;
}
.slick-slide{
  background :white;
  margin:10px;
  text-align:center;
  border-radius:20px;
}
.credit{
  text-align:center;
  position:absolute;
  right:20px;
}
.slick-active{
  
}
.slick-track{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slick-track div{
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}



/* indicator */

.menu-indicator {
  position: relative;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  z-index: 4;
  width: 300px;
  text-align: center;
}
.menu-indicator .indicator-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 150px;
  margin: 0 auto;
}
.menu-indicator .indicator-wrapper .indicator-cursor {
  width: 25px;
  position: absolute;
  top: 1.75em;
  z-index: 5;
  -webkit-animation: cursor-animation 1.2s cubic-bezier(0.23, 1, 0.72, 1) infinite;
  animation: cursor-animation 1.2s cubic-bezier(0.23, 1, 0.72, 1) infinite;
}
@-webkit-keyframes cursor-animation {
  0% {
    left: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    left: 40px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes cursor-animation {
  0% {
    left: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    left: 40px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.menu-indicator .indicator-wrapper .box-wrapper {
  width: 150px;
  overflow: hidden;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.menu-indicator .indicator-wrapper .box-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
/*   background: radial-gradient(ellipse at center, rgba(247, 246, 243, 0) 0%, #fff 70%); */
  z-index: 2;
}
.menu-indicator .indicator-wrapper .box-wrapper .box-outer {
  position: relative;
  top: calc(50% - 1em);
  -webkit-animation: box-animation 1.2s cubic-bezier(0.23, 1, 0.72, 1) infinite;
  animation: box-animation 1.2s cubic-bezier(0.23, 1, 0.72, 1) infinite;
}
@-webkit-keyframes box-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -5em;
  }
}
@keyframes box-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -5em;
  }
}
.menu-indicator .indicator-wrapper .box-wrapper .box {
  position: absolute;
  width: 3em;
  height: 2em;
  border-radius: 3px;
  border: 1px solid #555;
}
.menu-indicator .indicator-wrapper .box-wrapper .box:nth-of-type(0) {
  left: 0em;
}
.menu-indicator .indicator-wrapper .box-wrapper .box:nth-of-type(1) {
  left: 4.25em;
}
.menu-indicator .indicator-wrapper .box-wrapper .box:nth-of-type(2) {
  left: 8.5em;
}
.menu-indicator .indicator-wrapper .box-wrapper .box:nth-of-type(3) {
  left: 12.75em;
}
.slider__stick .product {

}
.slider__stick .product .thumbnail > img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 20px 20px 0 0;
}
.slider__stick .product .title {
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
}
.slider__stick .product .description {
  
}
.slider__stick .product .price {
  
}
.slider__stick .product .badge {
  font-size: 100%!important;
}
.slider__stick .product p.whatsapp__send {
  display: block;
  width: 95%;
}




