body {
  background: #F8F9F9;
}

.megamenu {
  background: #fff;
  z-index: 15;
}
.megamenu .megamenu-nav {
  padding: 0;
  margin: 0;
}
.megamenu .megamenu-nav .nav-item { 
  display: block;
}
.megamenu .megamenu-nav .nav-link {
  color: #222;
  padding: 15px 30px;
}
.megamenu .megamenu-nav .nav-link:hover , .active__link{
  background: #f9f9f9;
  color: #333;
}
.mylink {
  margin: 40px 0;
}
.mylink__div {
  background: #fff;
  padding:5px;
}
.mylink__divleft {

}
  .mylink__divleft p {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  
.phone {
  background-color: #fff;
  border-radius: 40px;
  max-width: 370px;
  height: 700px;
  margin: 0 auto;
  Display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 30px 40px 70px #ccc;
  box-shadow: 30px 40px 70px #ccc;
}
.content {
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #F5F6FA;
  overflow: hidden;
}
.header__bg {

}
  .header__bg img {
    max-width: 100%;
  }
.text_bykh {
  padding:10px;
  background: #fff;
  margin-bottom:10px;
}  
.links_socials {
  padding:0 5px;
}
  .links_socials p {
    padding-bottom: 0;
    margin-bottom:10px;
  }

.div-right-block {
    padding: 20px;
    background: #fff;
    border-radius: 20px; 
}
.text-right-block {
  
}.text-right-block p{
  color: #86939E;
}
.text-right-block p textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background:#F5F6FA;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  -o-border-image: none;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}


.text-right-block p textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.div-right-block > h1 {
  padding-bottom:20px;
}
.hr {
  border-bottom: 1px solid #E1E8EE;
  margin:15px 0;
  height:1px;
  width:100%;
}

.color-div ul.chec-radio {
   margin: 15px 0;
    padding: 0;
}
.color-div ul.chec-radio li.pz {
    display: inline;
}
.color-div .chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #fff;
    padding: 8px 15px;
    text-align: center;
  border-radius:4px;
    position: relative;
    float: left;
    margin: 0;
    margin-bottom: 5px;
  border:2px solid #E1E8EE;
  color:#555;
}
.color-div .chec-radio label.radio-inline input[type="radio"] {
    display: none;
}
.color-div .chec-radio label.radio-inline input[type="radio"]:checked+div , .color-div .chec-radio label.radio-inline input[type="radio"]:hover {
    color: #343A40;
    background-color: #fff;
  border: 2px solid #343A40;
}


/* template */

.template {
  background-color: #fff;
  max-width: 375px;
  margin: 30px auto;
  Display:table;
  -webkit-box-shadow: 0 2px 18px -2px rgba(0,0,0,0.5);
  box-shadow: 0 2px 18px -2px rgba(0,0,0,0.5);
}

.first__links {

}
.first__link_left {

}
  .first__link_left img {
    max-width: 100%;
  }



